.git
.gitignore
.vscode
.idea

__pycache__
**/__pycache__
*.py[cod]
*.pyo
*.pyd

.venv
venv
ENV

.pytest_cache
.coverage
htmlcov
.tox
.nox

build
dist
wheels
*.egg-info

.env
.env.*
*.log

tests
docs
*.md
